<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/voler.html}">
<head>
  <title>Arona</title>
</head>
<div class="container-fluid row" layout:fragment="content">
  <main class="container">
    <div class="jumbotron bg-dark text-light text-center py-5">
      <h1 class="display-1">[[${board.getTitle()}]]</h1>
    </div>
    <div id="board-md" class="p-3 rounded"></div>
  </main>
  <nav class="mt-4">
    <div class="d-flex justify-content-between">
      <a th:href="@{'/board' + ${requestDTO.useQuery()}}" class="btn btn-secondary">Board List</a>
      <a th:href="@{'/board/edit/' + ${board.getId()} + ${requestDTO.useQuery()}}" class="btn btn-warning">Edit</a>
      <button id="DeleteButton" class="btn btn-danger">Delete</button>
    </div>
  </nav>
</div>
<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script id="chunk" type="text/plain" th:text="${board.getContent()}"></script>
  <script th:inline="javascript">
    const chunk = document.getElementById("chunk").innerHTML;
    marked.setOptions({
      breaks: true
    });
    document.getElementById('board-md').innerHTML = marked.parse(chunk);

  </script>
</th:block>
</html>