<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<div class="container" layout:fragment="content">


  <h1 th:text="${name}"></h1>
  <ul>
    <th:block th:each="item : ${list}">
      <li th:text="${item}"></li>
    </th:block>
  </ul>
  <ul>
    <li th:each="item,status : ${list}">
      [[${status.index}]] - [[${item}]]
    </li>
  </ul>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" th:href="@{/list}" >List</a>
    <a class="list-group-item list-group-item-action" th:href="@{/register}" >Register</a>
    <a class="list-group-item list-group-item-action" th:href="@{/arona}">아로나</a>
    <a class="list-group-item list-group-item-action" th:href="@{/arona(useChroma=1)}">아로나?</a>
    <a class="list-group-item list-group-item-action" th:href="@{/array(name=${ { '한글', '되는거', '아님??' } })}">Array</a>
  </div>
  <section>
    <pre><code id="output"></code></pre>
  </section>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>